<div class="td-header md-padding" flex="none">
  <div layout="row">
    <div flex="">
      <img src="assets/logo.png" alt="logo" height="40"/>
    </div>
  </div>
</div>
<div class="md-padding" flex="noshrink">
  <md-card md-whiteframe="10">
    <md-subheader>Home</md-subheader>
    <md-list>
      <md-divider></md-divider>
      <div ng-repeat="option in options">
        <md-list-item
          class="md-2-line"
          ng-click="folderView(option.label)"
          ng-mouseover="toneOn($index)"
          ng-mouseout="toneOff($index)"
          >
          <md-icon class="md-avatar-icon" md-svg-src="{{option.icon}}"></md-icon>
          <div class="md-list-item-text">
            <h3>{{ option.label }}</h3>

            <p>{{ option.excerpt }}</p>
          </div>
        </md-list-item>
        <md-divider ng-if="!$last"></md-divider>
      </div>
    </md-list>
  </md-card>
</div>